.DS_Store
.buildpath
.project
.settings
.idea
.komodotools
.sass-cache
.vagrant/*
nbproject/
*.komodoproject
*.kpf
application/cache/*
application/data/token_*.txt
application/resources/compiled/*.css
application/resources/compiled/*.js
application/logs/log-*.php
adminer/index.php
phpmyadmin/*
