.DS_Store
.buildpath
.project
.settings
.idea
application/cache/*
application/data/token_*.txt
application/resources/compiled/*.css
application/resources/compiled/*.js
application/logs/log-*.php
nbproject/
.sass-cache