/* CSS3 Support */
/* Reset */
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* Configs */
/* COLORS */
/* line 10, defaults.scss */
body, textarea { line-height: normal; font-size: 12px; font-family: Arial,Helvetica,sans-serif; }

/* line 12, defaults.scss */
a { color: #0054a6; }
/* line 14, defaults.scss */
a:hover { text-decoration: none; }

/* line 17, defaults.scss */
strong { font-weight: bold; }

/* line 18, defaults.scss */
.wraper { margin: 5px auto 0; width: 980px; }

/* line 19, defaults.scss */
.clr, .clear { clear: both; display: block; }

/* line 20, defaults.scss */
.space { margin-bottom: 15px; }

/* line 21, defaults.scss */
.d-n { display: none !important; }

/* line 22, defaults.scss */
.d-b { display: block; }

/* line 23, defaults.scss */
.d-i { display: inline; }

/* line 24, defaults.scss */
.o-h { overflow: hidden; }

/* line 25, defaults.scss */
.o-h-y { overflow-y: hidden; }

/* line 26, defaults.scss */
.o-h-x { overflow-x: hidden; }

/* line 27, defaults.scss */
.content { padding: 15px; }

/* line 28, defaults.scss */
.pointer, .cur-p { cursor: pointer; }

/* line 29, defaults.scss */
.cursor-default, .cursor-d, .cur-d { cursor: default !important; }

/* line 30, defaults.scss */
.cursor-waiting, .cursor-w, .cur-w, .cursor-busy, .cursor-b, .cur-b { cursor: wait !important; }

/* line 31, defaults.scss */
.invisible, .hidden { visibility: hidden; }

/* line 32, defaults.scss */
.spy { visibility: hidden; height: 1px; padding: 0; margin: 0; width: 1px; position: absolute; left: 0; top: 0; overflow: hidden; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }

/* line 33, defaults.scss */
.hide { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; position: absolute; left: 0; top: 0; overflow: hidden; height: 1px; padding: 0; margin: 0; width: 1px; }

/* line 34, defaults.scss */
.position-relative, .pos-r { position: relative; }

/* COLORS */
/* line 37, defaults.scss */
.red, .error, .c-r { color: #ca2027; }

/* line 38, defaults.scss */
.error { color: #ca2027; }

/* line 39, defaults.scss */
.dark, .gray, .c-d { color: #666666; }

/* line 40, defaults.scss */
.silver, .disabled, .c-p { color: gray; }

/* line 41, defaults.scss */
.c-s { color: #e5e5e5; }

/* line 42, defaults.scss */
.green, .success, .c-g { color: green; }

/* line 43, defaults.scss */
.black, .default, .c-b { color: black; }

/* line 44, defaults.scss */
.white, .c-w { color: white; }

/* line 45, defaults.scss */
.orange, .c-o { color: #ffaa50; }

/* BACKGROUND COLORS */
/* line 48, defaults.scss */
.mark { background-color: #fcf58b; }

/* line 49, defaults.scss */
.delete, .b-p { background-color: #e5e5e5; }

/* line 50, defaults.scss */
.background-gray, .background-dark, .background-g, .background-d, .bg-g, .bg-d { background-color: gray; }

/* line 51, defaults.scss */
.background-black, .background-b, .bg-b { background-color: black; }

/* line 52, defaults.scss */
.background-silver, .bg-silver, .bg-s { background-color: #999999; }

/* line 53, defaults.scss */
.background-silver-light, .bg-sl { background-color: #f2f2f2; }

/* line 54, defaults.scss */
.inactive { width: 100%; height: 100%; position: absolute; left: 0; right: 0; bottom: 0; top: 0; background: white; z-index: 1; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; margin: 0; }

/* line 55, defaults.scss */
.background-red, .bg-red, .bg-r { background-color: #ca2027; }

/* line 56, defaults.scss */
.background-active, .bg-active, .bg-a { background-color: #e9a5a8; }

/* line 57, defaults.scss */
.background-green, .bg-green, .bg-g { background-color: green; }

/* line 58, defaults.scss */
.background-white, .bg-w { background-color: white; }

/* line 59, defaults.scss */
.background-blue, .bg-blue { background-color: #0054a6; }

/* line 60, defaults.scss */
.hover { background-color: transparent; }
/* line 60, defaults.scss */
.hover:hover { background-color: #f7f7f7; }

/* line 61, defaults.scss */
.hover-active { background-color: #f7f7f7; }

/* line 62, defaults.scss */
.background-loader, .bg-loading, .bg-l { background-image: url("../img/layout/ajax-loader-big.gif"); background-position: center center; background-repeat: no-repeat; }

/* BOX ROUNDED CORNERS */
/* line 65, defaults.scss */
.rounded, .r, .rounded2, .rounded3 { position: relative; min-height: 18px; }

/* line 66, defaults.scss */
.rounded .corner, .rounded .c { height: 9px; width: 9px; background-image: url("../img/layout/sprite.png?v=2"); margin: 0; padding: 0; position: absolute; }

/* line 67, defaults.scss */
.rounded2 .c, .rounded3 .c { height: 9px; width: 9px; position: absolute; background-image: url("../img/layout/sprite.png?v=2"); margin: 0; padding: 0; }

/* line 68, defaults.scss */
.rounded .corner, .rounded .c { margin: -1px; z-index: 1; }

/* line 70, defaults.scss */
.top.left, .tl { left: 0; top: 0; background-position: left top; }

/* line 71, defaults.scss */
.top.right, .tr { right: 0; top: 0; background-position: -9px 0; }

/* line 72, defaults.scss */
.bottom.left, .bl { bottom: 0; left: 0; background-position: 0 -9px; }

/* line 73, defaults.scss */
.bottom.right, .br { bottom: 0; right: 0; background-position: -9px -9px; }

/* line 74, defaults.scss */
.rounded .title { height: 60px; background: url("../img/layout/sprite.png?v=2") 0 -19px repeat-x; line-height: 60px; padding: 0 12px; }

/* line 75, defaults.scss */
.box { border: 1px solid #cecece; }

/* line 76, defaults.scss */
.box-red { border: 2px solid #ca2027; }

/* TEXT */
/* line 79, defaults.scss */
.text-center, .text-c, .t-c { text-align: center; }

/* line 80, defaults.scss */
.text-left, .text-l, .t-l { text-align: left; }

/* line 81, defaults.scss */
.text-right, .text-r, .t-r { text-align: right; }

/* line 82, defaults.scss */
.text-just, .text-j, .t-j { text-align: justify; }

/* line 83, defaults.scss */
.text-size-8, .text-s-8, .t-s-8, .s8 { font-size: 8px; }

/* line 84, defaults.scss */
.text-size-10, .text-s-10, .t-s-10, .s10 { font-size: 10px; }

/* line 85, defaults.scss */
.text-size-12, .text-s-12, .t-s-12, .s12 { font-size: 12px; }

/* line 86, defaults.scss */
.text-size-13, .text-s-13, .t-s-13, .s13 { font-size: 13px; }

/* line 87, defaults.scss */
.text-size-14, .text-s-14, .t-s-14, .s14 { font-size: 14px; }

/* line 88, defaults.scss */
.text-size-15, .text-s-15, .t-s-15, .s15 { font-size: 15px; }

/* line 89, defaults.scss */
.text-size-16, .text-s-16, .t-s-16, .s16 { font-size: 16px; }

/* line 90, defaults.scss */
.text-size-18, .text-s-18, .t-s-18, .s18 { font-size: 18px; }

/* line 91, defaults.scss */
.big, .text-size-48, .text-s-48, .t-s-48, .s48 { font-size: 48px; }

/* line 92, defaults.scss */
.text-vertical, .text-v, .t-v, .v-a, .t-m, .v-m { vertical-align: middle; }

/* line 93, defaults.scss */
.text-top, .text-t, .t-t, .v-t { vertical-align: top; }

/* line 94, defaults.scss */
.text-bold, .text-b, .t-b { font-weight: bold; }

/* line 95, defaults.scss */
.normal, .text-normal, .text-n, .t-n { font-weight: normal; }

/* line 96, defaults.scss */
.no-decoration, .no-dec { text-decoration: none; }

/* line 97, defaults.scss */
.no-br { white-space: nowrap; }

/* line 98, defaults.scss */
.text { text-indent: 25px; }

/* line 99, defaults.scss */
.text-wrap, .t-w, .w-w { word-wrap: break-word; }

/* BORDERS */
/* line 102, defaults.scss */
.border, .b, .b-both { border: 1px #cecece; }

/* line 103, defaults.scss */
.border-left, .border-l, .b-l { border-left-width: 1px; border-color: #cecece; }

/* line 104, defaults.scss */
.border-right, .border-r, .b-r { border-right-width: 1px; border-color: #cecece; }

/* line 105, defaults.scss */
.border-top, .border-t, .b-t { border-top-width: 1px; border-color: #cecece; }

/* line 106, defaults.scss */
.border-bottom, .border-b, .b-b { border-bottom-width: 1px; border-color: #cecece; }

/* line 107, defaults.scss */
.border-dot, .b-dot { border-style: dashed; }

/* line 108, defaults.scss */
.border-sol, .b-sol, .b-s { border-style: solid; }

/* line 109, defaults.scss */
.border-red, .b-red { border-color: #ca2027; }

/* WIDTH */
/* line 112, defaults.scss */
.width-10, .w-10, .w10 { width: 10px; }

/* line 113, defaults.scss */
.width-20, .w-20, .w20 { width: 20px; }

/* line 114, defaults.scss */
.width-30, .w-30, .w30 { width: 30px; }

/* line 115, defaults.scss */
.width-50, .w-50, .w50 { width: 50px; }

/* line 116, defaults.scss */
.width-70, .w-70, .w70 { width: 70px; }

/* line 117, defaults.scss */
.width-90, .w-90, .w90 { width: 90px; }

/* line 118, defaults.scss */
.width-130, .w-130, .w130 { width: 130px; }

/* line 119, defaults.scss */
.width-140, .w-140, .w140 { width: 140px; }

/* line 120, defaults.scss */
.width-150, .w-150, .w150 { width: 150px; }

/* line 121, defaults.scss */
.width-170, .w-170, .w170 { width: 170px; }

/* line 122, defaults.scss */
.width-180, .w-180, .w180 { width: 180px; }

/* line 123, defaults.scss */
.width-200, .w-200, .w200 { width: 200px; }

/* line 124, defaults.scss */
.width-250, .w-250, .w250 { width: 250px; }

/* line 125, defaults.scss */
.width-390, .w-390, .w390 { width: 390px; }

/* line 126, defaults.scss */
.width-540, .w-540, .w540 { width: 540px; }

/* line 127, defaults.scss */
.width-580, .w-580, .w580 { width: 580px; }

/* line 128, defaults.scss */
.width-700, .w-700, .w700 { width: 700px; }

/* line 129, defaults.scss */
.width-790, .w-790, .w790 { width: 790px; }

/* line 130, defaults.scss */
.width-979, .w-979, .w979, .w1000 { width: 979px; }

/* line 131, defaults.scss */
.width-1p, .w-1p, .w1p { width: 1%; }

/* line 132, defaults.scss */
.width-50p, .w-50p, .w50p { width: 50%; }

/* line 133, defaults.scss */
.width-80p, .w-80p, .w80p { width: 80%; }

/* line 134, defaults.scss */
.width-100p, .w-100p, .w100p { width: 100%; }

/* line 135, defaults.scss */
.width-auto, .w-a, .wa { width: auto; }

/* POSITIONING */
/* line 138, defaults.scss */
.float-left, .f-l, .fl { float: left; }

/* line 139, defaults.scss */
.float-right, .f-r, .fr { float: right; }

/* MARGIN */
/* line 142, defaults.scss */
.mbottom, .margin-bottom, .bspace, .m-b { margin-bottom: 20px; }

/* line 143, defaults.scss */
.mtop, .margin-top, .tspace, .m-t { margin-top: 20px; }

/* line 144, defaults.scss */
.mleft, .margin-left, .lspace, .m-l { margin-left: 20px; }

/* line 145, defaults.scss */
.mright, .margin-right, .rspace, .m-r { margin-right: 20px; }

/* line 146, defaults.scss */
.mboth, .margin-both, .m-both { margin: 10px; }

/* line 147, defaults.scss */
.margin-right-5, .margin-r5, .m-r5 { margin-right: 5px; }

/* line 148, defaults.scss */
.margin-left-5, .margin-l5, .m-l5 { margin-left: 5px; }

/* line 149, defaults.scss */
.margin-bottom-5, .margin-b5, .m-b5 { margin-bottom: 5px; }

/* line 150, defaults.scss */
.margin-bottom-10, .margin-b10, .m-b10 { margin-bottom: 10px; }

/* line 151, defaults.scss */
.margin-bottom-70, .margin-b70, .m-b70 { margin-bottom: 70px; }

/* line 152, defaults.scss */
.margin-top-5, .margin-t5, .m-t5 { margin-top: 5px; }

/* line 153, defaults.scss */
.margin-top-15, .margin-t15, .m-t15 { margin-top: 15px; }

/* line 154, defaults.scss */
.margin-top-10, .margin-t10, .m-t10 { margin-top: 10px; }

/* line 155, defaults.scss */
.margin-top-50, .margin-t50, .m-t50 { margin-top: 50px; }

/* line 156, defaults.scss */
.margin-left-negative, .margin-ln, .m-ln, .m-l-20 { margin-left: -20px; }

/* line 157, defaults.scss */
.margin-right-negative-170, .m-r-n-170, .m-rn170, .mrn170, .m-rn170, .m-r-170 { margin-right: -170px; }

/* line 158, defaults.scss */
.margin-both-negative, .margin-b-n, .m-b-n { margin: -1px; }

/* line 159, defaults.scss */
.margin-center, .margin-c, .m-c, .div-c, .d-c { margin-left: auto; margin-right: auto; }

/* PADDING */
/* line 162, defaults.scss */
.pboth, .padding-both, .p-both, .p { padding: 13px 10px 10px 10px; }

/* line 163, defaults.scss */
.ptop, .padding-top, .p-t { padding-top: 20px; }

/* line 164, defaults.scss */
.ptop5, .padding-top-5, .p-t5 { padding-top: 5px; }

/* line 165, defaults.scss */
.ptop10, .padding-top-10, .p-t10 { padding-top: 10px; }

/* line 166, defaults.scss */
.pbottom, .padding-bottom, .p-b { padding-bottom: 20px; }

/* line 167, defaults.scss */
.pbottom-5, .padding-bottom-5, .p-b5 { padding-bottom: 5px; }

/* line 168, defaults.scss */
.pbottom-10, .padding-bottom-10, .p-b10 { padding-bottom: 10px; }

/* line 169, defaults.scss */
.pright, .padding-right, .p-r { padding-right: 20px; }

/* line 170, defaults.scss */
.pright5, .padding-right-5, .p-r5 { padding-right: 5px; }

/* line 171, defaults.scss */
.pright10, .padding-right-10, .p-r10 { padding-right: 10px; }

/* line 172, defaults.scss */
.pleft, .padding-left, .p-l { padding-left: 20px; }

/* line 173, defaults.scss */
.pleft5, .padding-left-5, .p-l5 { padding-left: 5px; }

/* line 174, defaults.scss */
.pleft10, .padding-left10, .p-l10 { padding-left: 10px; }

/* line 175, defaults.scss */
.padding-header, .padding-h, .p-h { padding: 5px 10px; }

/* line 176, defaults.scss */
.pall, .padding-all, .p-a { padding: 20px; }

/* line 177, defaults.scss */
.pall5, .padding-all-5, .p-a5 { padding: 5px; }

/* line 178, defaults.scss */
.pall10, .padding-all-10, .p-a10 { padding: 10px; }
