/* CSS3 Support */
@import "compass/css3";

/* Reset */
@import "compass/reset";

/* Configs */
@import "_config.scss";

body, textarea { line-height: normal; font-size: 12px; font-family: Arial,Helvetica,sans-serif; }

a {
	color: $color_blue;
	&:hover { text-decoration: none; }
}

strong { font-weight: bold; }
.wraper { margin: 5px auto 0; width: 980px; }
.clr, .clear { clear: both; display: block; }
.space { margin-bottom: 15px; }
.d-n { display: none !important; }
.d-b { display: block; }
.d-i { display: inline; }
.o-h { overflow: hidden; }
.o-h-y { overflow-y: hidden; }
.o-h-x { overflow-x: hidden; }
.content { padding: 15px; }
.pointer, .cur-p { cursor: pointer; }
.cursor-default, .cursor-d, .cur-d { cursor: default !important; }
.cursor-waiting, .cursor-w, .cur-w, .cursor-busy, .cursor-b, .cur-b { cursor: wait !important; }
.invisible, .hidden { visibility: hidden; }
.spy { visibility: hidden; height: 1px; padding: 0; margin: 0; width: 1px; position: absolute; left: 0; top: 0; overflow: hidden; @include opacity(0); }
.hide { @include opacity(0); position: absolute; left: 0; top: 0; overflow: hidden; height: 1px; padding: 0; margin: 0; width: 1px; }
.position-relative, .pos-r { position: relative; }

/* COLORS */
.red, .error, .c-r { color: $color_red; }
.error { color: $color_error; }
.dark, .gray, .c-d { color: light($color_black, 40%); }
.silver, .disabled, .c-p { color: lighten($color_black, 50%); }
.c-s { color: light($color_black, 90%); }
.green, .success, .c-g { color: $color_green; }
.black, .default, .c-b { color: $color_black; }
.white, .c-w { color: $color_white; }
.orange, .c-o { color: $color_orange; }

/* BACKGROUND COLORS */
.mark { background-color: $color_mark }
.delete, .b-p { background-color: light($color_black, 90%); }
.background-gray, .background-dark, .background-g, .background-d, .bg-g, .bg-d { background-color: lighten($color_black, 50%); }
.background-black, .background-b, .bg-b { background-color: $color_black; }
.background-silver, .bg-silver, .bg-s { background-color:light($color_black, 60%); }
.background-silver-light, .bg-sl { background-color: light($color_black, 95%); }
.inactive { width: 100%; height: 100%; position: absolute; left: 0; right: 0; bottom: 0; top: 0; background: $color_white; z-index: 1; @include opacity(0.5); margin: 0; }
.background-red, .bg-red, .bg-r { background-color: $color_red; }
.background-active, .bg-active, .bg-a { background-color: light( $color_red, 60% ); }
.background-green, .bg-green, .bg-g { background-color: $color_green; }
.background-white, .bg-w { background-color: $color_white; }
.background-blue, .bg-blue { background-color: $color_blue; }
.hover { background-color: transparent; &:hover { background-color: light( $color_black, 97% ); } }
.hover-active { background-color: light( $color_black, 97% ); }
.background-loader, .bg-loading, .bg-l { background-image: url( "../img/layout/ajax-loader-big.gif" ); background-position: center center; background-repeat: no-repeat }

/* BOX ROUNDED CORNERS */
.rounded, .r, .rounded2, .rounded3 { position: relative; min-height: 18px; }
.rounded { .corner, .c { height: 9px; width: 9px; background-image: url("../img/layout/sprite.png?v=2"); margin: 0; padding: 0; position: absolute; } }
.rounded2 .c, .rounded3 .c { height: 9px; width: 9px; position: absolute; background-image: url("../img/layout/sprite.png?v=2"); margin: 0; padding: 0; }
.rounded { .corner, .c { margin: -1px; z-index: 1 } }

.top.left, .tl { left: 0; top: 0; background-position: left top; }
.top.right, .tr { right: 0; top: 0; background-position: -9px 0; }
.bottom.left, .bl { bottom: 0; left: 0; background-position: 0 -9px; }
.bottom.right, .br { bottom: 0; right: 0; background-position: -9px -9px; }
.rounded .title { height: 60px; background: url("../img/layout/sprite.png?v=2") 0 -19px repeat-x; line-height: 60px; padding: 0 12px; }
.box { border: 1px solid $color_border; }
.box-red { border: 2px solid $color_red; }

/* TEXT */
.text-center, .text-c, .t-c { text-align: center; }
.text-left, .text-l, .t-l { text-align: left; }
.text-right, .text-r, .t-r { text-align: right; }
.text-just, .text-j, .t-j { text-align: justify; }
.text-size-8, .text-s-8, .t-s-8, .s8 { font-size: 8px; }
.text-size-10, .text-s-10, .t-s-10, .s10 { font-size: 10px; }
.text-size-12, .text-s-12, .t-s-12, .s12 { font-size: 12px; }
.text-size-13, .text-s-13, .t-s-13, .s13 { font-size: 13px; }
.text-size-14, .text-s-14, .t-s-14, .s14 { font-size: 14px; }
.text-size-15, .text-s-15, .t-s-15, .s15 { font-size: 15px; }
.text-size-16, .text-s-16, .t-s-16, .s16 { font-size: 16px; }
.text-size-18, .text-s-18, .t-s-18, .s18 { font-size: 18px; }
.big, .text-size-48, .text-s-48, .t-s-48, .s48 { font-size: 48px; }
.text-vertical, .text-v, .t-v, .v-a, .t-m, .v-m { vertical-align: middle; }
.text-top, .text-t, .t-t, .v-t { vertical-align: top; }
.text-bold, .text-b, .t-b { font-weight: bold; }
.normal, .text-normal, .text-n, .t-n { font-weight: normal; }
.no-decoration, .no-dec { text-decoration: none; }
.no-br { white-space: nowrap; }
.text { text-indent: 25px; }
.text-wrap, .t-w, .w-w { word-wrap: break-word; }

/* BORDERS */
.border, .b, .b-both { border: 1px $color_border; }
.border-left, .border-l, .b-l { border-left-width: 1px; border-color: $color_border; }
.border-right, .border-r, .b-r { border-right-width: 1px; border-color: $color_border; }
.border-top, .border-t, .b-t { border-top-width: 1px; border-color: $color_border; }
.border-bottom, .border-b, .b-b { border-bottom-width: 1px; border-color: $color_border; }
.border-dot, .b-dot { border-style: dashed; }
.border-sol, .b-sol, .b-s { border-style: solid; }
.border-red, .b-red { border-color: $color_red; }

/* WIDTH */
.width-10, .w-10, .w10 { width: 10px; }
.width-20, .w-20, .w20 { width: 20px; }
.width-30, .w-30, .w30 { width: 30px; }
.width-50, .w-50, .w50 { width: 50px; }
.width-70, .w-70, .w70 { width: 70px; }
.width-90, .w-90, .w90 { width: 90px; }
.width-130, .w-130, .w130 { width: 130px; }
.width-140, .w-140, .w140 { width: 140px; }
.width-150, .w-150, .w150 { width: 150px; }
.width-170, .w-170, .w170 { width: 170px; }
.width-180, .w-180, .w180 { width: 180px; }
.width-200, .w-200, .w200 { width: 200px; }
.width-250, .w-250, .w250 { width: 250px; }
.width-390, .w-390, .w390 { width: 390px; }
.width-540, .w-540, .w540 { width: 540px; }
.width-580, .w-580, .w580 { width: 580px; }
.width-700, .w-700, .w700 { width: 700px; }
.width-790, .w-790, .w790 { width: 790px; }
.width-979, .w-979, .w979, .w1000 { width: 979px; }
.width-1p, .w-1p, .w1p { width: 1%; }
.width-50p, .w-50p, .w50p { width: 50%; }
.width-80p, .w-80p, .w80p { width: 80%; }
.width-100p, .w-100p, .w100p { width: 100%; }
.width-auto, .w-a, .wa { width: auto; }

/* POSITIONING */
.float-left, .f-l, .fl { float: left; }
.float-right, .f-r, .fr { float: right; }

/* MARGIN */
.mbottom, .margin-bottom, .bspace, .m-b { margin-bottom: 20px; }
.mtop, .margin-top, .tspace, .m-t { margin-top: 20px; }
.mleft, .margin-left, .lspace, .m-l { margin-left: 20px; }
.mright, .margin-right, .rspace, .m-r { margin-right: 20px; }
.mboth, .margin-both, .m-both { margin: 10px; }
.margin-right-5, .margin-r5, .m-r5 { margin-right: 5px; }
.margin-left-5, .margin-l5, .m-l5 { margin-left: 5px; }
.margin-bottom-5, .margin-b5, .m-b5 { margin-bottom: 5px; }
.margin-bottom-10, .margin-b10, .m-b10 { margin-bottom: 10px; }
.margin-bottom-70, .margin-b70, .m-b70 { margin-bottom: 70px; }
.margin-top-5, .margin-t5, .m-t5 { margin-top: 5px; }
.margin-top-15, .margin-t15, .m-t15 { margin-top: 15px; }
.margin-top-10, .margin-t10, .m-t10 { margin-top: 10px; }
.margin-top-50, .margin-t50, .m-t50 { margin-top: 50px; }
.margin-left-negative, .margin-ln, .m-ln, .m-l-20 { margin-left: -20px; }
.margin-right-negative-170, .m-r-n-170, .m-rn170, .mrn170, .m-rn170, .m-r-170 { margin-right: -170px; }
.margin-both-negative, .margin-b-n, .m-b-n { margin: -1px; }
.margin-center, .margin-c, .m-c, .div-c, .d-c { margin-left: auto; margin-right: auto; }

/* PADDING */
.pboth, .padding-both, .p-both, .p { padding: 13px 10px 10px 10px; }
.ptop, .padding-top, .p-t { padding-top: 20px; }
.ptop5, .padding-top-5, .p-t5 { padding-top: 5px; }
.ptop10, .padding-top-10, .p-t10 { padding-top: 10px; }
.pbottom, .padding-bottom, .p-b { padding-bottom: 20px; }
.pbottom-5, .padding-bottom-5, .p-b5 { padding-bottom: 5px; }
.pbottom-10, .padding-bottom-10, .p-b10 { padding-bottom: 10px; }
.pright, .padding-right, .p-r { padding-right: 20px; }
.pright5, .padding-right-5, .p-r5 { padding-right: 5px; }
.pright10, .padding-right-10, .p-r10 { padding-right: 10px; }
.pleft, .padding-left, .p-l { padding-left: 20px; }
.pleft5, .padding-left-5, .p-l5 { padding-left: 5px; }
.pleft10, .padding-left10, .p-l10 { padding-left: 10px; }
.padding-header, .padding-h, .p-h { padding: 5px 10px; }
.pall, .padding-all, .p-a { padding: 20px; }
.pall5, .padding-all-5, .p-a5 { padding: 5px; }
.pall10, .padding-all-10, .p-a10 { padding: 10px; }
