@import "compass/css3";

$progress_bar_height: 20px !default;
.progress_bar {
	//height: $progress_bar_height;
	line-height: $progress_bar_height;
	@include text-shadow( 1px 1px 1px rgba( white, 0.5 ) );
	color: #000000;
	font-weight: bold;
	overflow: hidden;
	@include border-radius(5px);

	div.progress {
		height: $progress_bar_height;
		@include border-radius(4px);
		//background-image: url('../img/background.gif');
		//@include opacity( 0.25 );
		//@include single-box-shadow( #CA2027 , 2px, 0, 2px );
	}
	div.fill {
		@include opacity( 1 );
	}
}
