.flags-sprite, .flags.lt, .flags.ru, .flags.gb, .flags.pl, .flags.fi, .flags.se, .flags.ro, .flags.bg, .flags.ua, .flags.en {
  background: url('http://dev/generated_images/application/modules/language_module/views/resources/img/flags-s734bec2bd5.png') no-repeat;
}

/* Generate sprite images */
.flags.lt {
  background-position: 0 -44px;
  height: 11px;
  width: 16px;
}

.flags.ru {
  background-position: 0 -99px;
  height: 11px;
  width: 16px;
}

.flags.gb {
  background-position: 0 -11px;
  height: 11px;
  width: 16px;
}

.flags.pl {
  background-position: 0 -110px;
  height: 11px;
  width: 16px;
}

.flags.fi {
  background-position: 0 -66px;
  height: 11px;
  width: 16px;
}

.flags.se {
  background-position: 0 -33px;
  height: 11px;
  width: 16px;
}

.flags.ro {
  background-position: 0 -55px;
  height: 11px;
  width: 16px;
}

.flags.bg {
  background-position: 0 -77px;
  height: 11px;
  width: 16px;
}

.flags.ua {
  background-position: 0 -88px;
  height: 11px;
  width: 16px;
}

.flags.en {
  background-position: 0 0;
  height: 11px;
  width: 16px;
}
